<header class="site-header">
  <div class="wrapper">
    <p><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></p>
    <p><a href="introduction.html">Einleitung</a> | <a href="pattern-index.html">Muster-Index</a> | <a href="glossary.html">Glossar</a> | <a href="changelog.html">Änderungen</a> | <a href="https://sociocracy30.org">zur S3-Website</a> | <a href="map.html" ><img src="img/map.png" title="Use the pattern map to jump to another pattern." /></a> <span id="annotate-span">| <a href="" id="annotate-link"><img src="img/feedback.png" title="Kommentieren mit hypothes.is. Klicke auf das Symbol und warte, bis die Seite neu geladen ist, dann kannst du Text markieren und kommentieren. Dazu musst du vorher einen kostenlosen Account auf hypothes.is anlegen."></a></span>
  </div>
</header>
